---
interface Props {
  href: string;
  date: string;
  title: string;
  read?: string;
  tag?: string;
}

const { href, date, title, read, tag } = Astro.props;
---

<a class="list-row" href={href}>
  <span class="date">{date}</span>
  <span class="title">
    <span>{title}</span>
    {tag && <span class="tag">{tag}</span>}
  </span>
  {read && <span class="read">{read}</span>}
</a>
